/* @keyframes fadeIn{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
} */
body{
    background-color: #34495e;
    height: 100%;
}
#background,
#background li{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    z-index: -1;
}
.wrap{
    /* position: relative; */
}
body, .wrap{
    margin: 0;
    padding: 0;
}
.js-clock{
    padding-top: 5%;
}
.js-clock h1{
    text-align: center;
    font-size: 150px;
    margin: 0;
}
.js-greetings{
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.js-form{
    text-align: center;
    margin-bottom: 20px;
}
input{
    font-size: 60px;
    text-align: center;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    border-left-style: none;
    border-left-color: #ffffff;
    border-left-width: 0;
    border-right-style: none;
    border-right-color: #ffffff;
    border-right-width: 0;
    border-top-color: transparent;
    border-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: 3px;
    color: #ffffff;
    outline-width: 0;
    width: 650px;
}
.js-form span{
    font-size: 60px;
    font-size: 4.375em;
    display: block;
}
.js-toDoForm{
    text-align: center;
}
.js-toDoForm span{
    font-size: 40px;
    display: block;
}
.js-toDoForm input{
    font-size: 30px;
    width: 250px;
    text-align: center;
}
.js-weather{
    position: absolute;
    top : 10px;
    right: 20px;
    font-size: 20px;
}
.js-toDoList{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}
.js-toDoList li span{
    font-size: 30px;
    margin-top: 5px;
}
.js-toDoList li button{
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    border: 0;
}
.js-toDoList li button:hover{
    background-color: #b2bec3;
    border-radius: 50px;
    transition: all 0.5s;
}
.js-toDoList li span{
    display: inline-block;
    min-width: 300px;
}

h1,h4,span{
    color: #ffffff;
    text-shadow: 2px 2px #34495e;
}

.clicked{
    color: #7f8c8d;
}
.form,
.greetrings{
    display: none;
}
.showing{
    display: block;
}